<?xml version='1.0' encoding='utf-8'?>
<odoo>
    <data>
        <menuitem
            id="koperasi_menu_root"
            name="Koperasi"
            sequence="20"/>

        <!-- This Menu Item Must have a parent -->
        <menuitem id="membership_menu_categ" name="Membership" parent="koperasi_menu_root" sequence="20"/>
        <menuitem id="setting_menu_categ" name="Settings" parent="koperasi_menu_root" sequence="20"/>
    </data>
    
</odoo>